.azul-fundo-1 {
    background-color: #003bb3;
}

.azul-fundo-2 {
    background-color: #004ce6;
}

.azul-fundo-3 {
    background-color: #008cff;
}
.azul-texto-1 {
    color: #003bb3;
}

.azul-texto-2 {
    color: #004ce6;
}

.azul-texto-3 {
    color: #008cff;
}

.azul-fundo-4 {
    background-color: #334466;
    color: #334466;
}

.azul-fundo-5 {
    background-color: #336466;
    color: #336466;
}

.ciano-1 {
    background-color: #00adb3;
    color: #00adb3;
}

.ciano-2 {
    background-color: #00dee6;
    color: #00dee6;
}

.laranja-fundo-1 {
    background-color: #be6500;
}

.laranja-fundo-2 {
    background-color: #e68200;
}

.laranja-fundo-3 {
    background-color: #ff9100;
}
.laranja-texto-1 {
    color: #be6500;
}

.laranja-texto-2 {
    color: #e68200;
}

.laranja-texto-3 {
    color: #ff9100;
}

.verde-texto {
    color: #1ad95a;
}
.verde-fundo {
    background-color: #1ad95a;
}

.preto-fundo {
    background-color: #000000;
}
.preto-texto {
    color: #000000;
}

.branco-fundo {
    background-color: #FFFFFF;
}
.branco-texto {
    color: #FFFFFF;
}

.cinza-texto-1 {
    color: #1a1a1a;
}
.cinza-texto-2 {
    color: #333333;
}
.cinza-texto-3 {
    color: #4d4d4d;
}
.cinza-texto-4 {
    color: #666666;
}
.cinza-texto-5 {
    color: #808080;
}
.cinza-texto-6 {
    color: #999999;
}
.cinza-texto-7 {
    color: #b3b3b3;
}

.cinza-texto-8 {
    color: #cccccc;
}

.cinza-texto-9 {
    color: #e6e6e6;
}

.cinza-fundo-1 {
    background-color: #1a1a1a;
}

.cinza-fundo-2 {
    background-color: #333333;
}

.cinza-fundo-3 {
    background-color: #4d4d4d;
}

.cinza-fundo-4 {
    background-color: #666666;
}

.cinza-fundo-5 {
    background-color: #808080;
}

.cinza-fundo-6 {
    background-color: #999999;
}

.cinza-fundo-7 {
    background-color: #b3b3b3;
}

.cinza-fundo-8 {
    background-color: #cccccc;
}

.cinza-fundo-9 {
    background-color: #e6e6e6;
}