body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    padding-bottom: 12vh;
    padding-top: 10vh;
    position: relative;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: rgb(41, 80, 255);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    z-index: 1000;
    position: absolute;
    top: 0%;
    height: 10vh;
    max-height: 110px;
    display: flex;
    align-items: center;
}

#div-header {
    position: relative;
    width: 100%;
    display: flex;
}

#header-logo-div {
    padding-left: 8%;
    width: 20%;
}

#header-logo-div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#header-logo-div a img {
    object-fit: fill;
    max-height: 100%;
    width: 62px;
    background-color: white;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.37);
}

#header-input-div {
    width: 60%;
    display: flex;
    justify-content: center;
}

#header-input-div form {
    width: 60%;
    margin-right: 30px;
    padding: 5px;
    border-radius: 20px;
}

#header-input-div input:focus-visible {
    outline: none;
}

#header-input-div input {
    background: transparent;
    font-size: 1.5rem;
    height: 2.1rem;
}

#submit-search {
    font-size: 1.5rem;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-icones-div {
    width: 20%;

    gap: 40px;
    font-size: 1.7rem;
}

.icon:hover {
    color: #3e4344;
}

/* fim do header */

/* Footer */
footer {
    background-color: rgb(41, 80, 255);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    color: white;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    max-height: 100%;
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-height: 100%;
    padding-top: 7px;
}

.footer-titulo {
    width: 100%;
    height: 28px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#footer-icones {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#icon-instagram {
    background-color: transparent
}

#icon-x {
    padding: 1px;
    background-color: black;
}

.div-icones {
    display: flex;
    justify-content: center;
    width: 30px;
}

#icon-youtube {
    width: 40px;
}

.div-icones a img {
    object-fit: contain;
    max-width: 100%;
    max-height: 40px;
}


/* fim do footer */

.azul-fundo-1 {
    background-color: #003bb3;
}

.azul-fundo-2 {
    background-color: #004ce6;
}

.azul-fundo-3 {
    background-color: #008cff;
}

.azul-texto-1 {
    color: #003bb3;
}

.botao {
    border-radius: 0px;
    border-style: outset !important;
    border-width: 2px;
    background-color: white;
}

.borda-div {
    border: 2px #4D4D4D outset;
}

.borda-botao-1 {
    border-color: #4D4D4D !important;
}

.azul-texto-2 {
    color: #004ce6;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}

.azul-texto-3 {
    color: #008cff;
}

.azul-fundo-4 {
    background-color: #334466;
    color: #334466;
}

.azul-fundo-5 {
    background-color: #336466;
    color: #336466;
}

.ciano-1 {
    background-color: #00adb3;
    color: #00adb3;
}

.ciano-2 {
    background-color: #00dee6;
    color: #00dee6;
}

.laranja-fundo-1 {
    background-color: #be6500;
}

.laranja-fundo-2 {
    background-color: #e68200;
}

.laranja-fundo-3 {
    background-color: #ff9100;
}

.laranja-texto-1 {
    color: #be6500;
}

.laranja-texto-2 {
    color: #e68200;
}

.laranja-texto-3 {
    color: #ff9100;
}

.verde-texto {
    color: #1ad95a;
}

.verde-fundo {
    background-color: #1ad95a;
}

.preto-fundo {
    background-color: #000000;
}

.preto-texto {
    color: #000000;
}

.branco-fundo {
    background-color: #FFFFFF;
}

.branco-fundo-2 {
    background-color: #F5F5F5;
}

.branco-fundo-3 {
    background-color: #dee2e6;
}

.branco-fundo-4 {
    background-color: #f3eaea;
}


.branco-texto {
    color: #FFFFFF;
}

.branco-texto-2 {
    color: #F5F5F5;
}

.branco-texto-3 {
    color: #dee2e6;
}

.cinza-texto-1 {
    color: #1a1a1a;
}

.cinza-texto-2 {
    color: #333333;
}

.cinza-texto-3 {
    color: #4d4d4d;
}

.cinza-texto-4 {
    color: #666666;
}

.cinza-texto-5 {
    color: #808080;
}

.cinza-texto-6 {
    color: #999999;
}

.cinza-texto-7 {
    color: #b3b3b3;
}

.cinza-texto-8 {
    color: #cccccc;
}

.cinza-texto-9 {
    color: #e6e6e6;
}

.cinza-fundo-1 {
    background-color: #1a1a1a;
}

.cinza-fundo-2 {
    background-color: #333333;
}

.cinza-fundo-3 {
    background-color: #4d4d4d;
}

.cinza-fundo-4 {
    background-color: #666666;
}

.cinza-fundo-5 {
    background-color: #808080;
}

.cinza-fundo-6 {
    background-color: #999999;
}

.cinza-fundo-7 {
    background-color: #b3b3b3;
}

.cinza-fundo-8 {
    background-color: #cccccc;
}

.cinza-fundo-9 {
    background-color: #e6e6e6;
}

.fundo-1 {
    background-color: rgb(243, 250, 255);
}