main {
    top: 0%;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#carrinho-container {
    position: absolute;
    top: 15vh;
    height: 85vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    overflow: hidden;
    border: 1px #cee2e6 solid;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.295);
}

/* HEADER */
#carrinho-header {
    padding: 0 10px;
    max-height: 8vh;
}

#header-linha {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 100%;
    border-bottom: 1px #929ea0 solid;
    justify-content: space-between;
}

.header-separador {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 100%;
    gap: 20px;
}

#header-titulo-div {
    display: flex;
    align-items: center;
}

#header-titulo {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#header-limpar-div {
    display: flex;
    align-items: center;
}

#header-limpar-btn {
    border: 1px #be6500 solid;
    background-color: #ff9100;
    font-size: 1.4rem;
    font-weight: 400;
}

@media screen and (max-width: 1260px) {
    #header-limpar-btn {
        font-size: 2vw;
    }
}

#header-valor-div {
    display: flex;
    align-items: center;
}

#header-valor-div label {
    margin-right: 5px;
    font-weight: 600;
    font-size: 1.6rem;
}

#header-valor-total {
    color: #ff9100;
    font-weight: 700;
    font-size: 1.6rem;
}

#header-finalizar-div {
    display: flex;
    align-items: center;
}

#header-finalizar-btn {
    border: 1px #be6500 solid;
    background-color: #ff9100;
    font-size: 1.4rem;
    font-weight: 500;
}

#header-finalizar-btn:hover,
#header-limpar-btn:hover {
    border: 2px black solid;
    background-color: #be6500;
}

/* Corpo do carrinho */
#carrinho-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}

.produto-box {
    position: relative;
    display: flex;
    border: 2px #cee2e6 solid;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 3px 5px;
    width: 100%;
    min-height: 180px;
    height: 180px !important;
}

.produto-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.div-img {
    margin-left: 15px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-wrapper {
    width: 40%;
    margin-left: 2vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
}

.info-nome span {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.info-valor-final span {
    font-size: 1.30rem;
    color: #ff9100;
    font-weight: 600;
}


.info-qtd {
    position: absolute;
    bottom: 10%;
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-bottom: 5px;
    
}



.info-qtd label {
    font-size: 1.15rem;
}

.qtd-wrapper {    
    display: flex;
    flex-direction: row;
    gap: 0;
    border: 1px #008cff solid;
}
.qtd-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 4px;
    width: 100%;
    height: 1.8rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #2e68db;
}
.qtd-btn:active {
    background-color: #0046d3;
}

.div-remover-produto {
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    height: 100%;
}

.div-remover-produto button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}