#carroselHeader{
    min-height: 30vh;
    max-height: 30vh;
}

#produtos-main {
    padding: 0 10vw;
}
.botao {
    position: relative;
    bottom: 0;
}

.cardDescontos {
    width: calc(100% / 3);
}