.card-img-top {
    max-width: 100%;
    object-fit: contain;
    height: 25vh;
}

#side-bar {
    position: fixed;
    height: 100%;
    width: 26vw;
    border-right: 1px #cee2e6 solid;
    z-index: 999;
    font-weight: 600;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    padding-top: 80px;
    overflow-y: scroll;
}

#side-bar form {
    padding: 0 10px;
}

#div-categorias span,
#div-preco>span {
    font-size: 2rem;
    padding-left: .6rem;
}

#checkbox-group {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
}

#checkbox-group>div {
    display: flex;
    height: 2rem;
    margin: 0;
    padding: 0 5px;
    align-items: center;
}

#checkbox-group label {
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checkbox-div {
    width: 100%;
}

.c-checkbox {
    min-width: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    -webkit-appearance: none;
    border: 2px #545b5c solid;
    border-radius: 20%;
}

.c-checkbox:checked {
    background-color: rgb(54, 57, 61);
}

#div-preco {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px #cee2e6 solid;
}

#range-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.div-range {
    display: flex;
    flex-direction: column;
}

.div-range>div {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.preco-range {
    display: flex;
    -webkit-appearance: none;
    appearance: none;
    color: transparent;
    padding: 0px 5px;
    width: 100%;
}

.preco-range::-webkit-slider-runnable-track {
    border: 1px black solid;
    background-color: rgb(240, 240, 240);
    border-radius: .5rem;
    height: 1rem;
}

.preco-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #004ce6;
}

.range-value {
    height: 2rem;
    font-size: 1.6rem;
    text-align: center;
    border: 1px #cee2e6 solid;
    color: #545b5c;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.range-value:focus-visible {
    outline: none;
    border: 1px #545b5c solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    visibility: hidden;
    display: none;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


#div-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
}

#div-submit button {
    margin-top: 30px;
    padding: 5px 7px;
    border: none;
    width: 30%;
    background-color: #008cff;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
    font-size: 20px;
    font-weight: 600;
    color: rgb(39, 41, 43);
}

#div-submit button:active {
    background-color: #004ce6;
    color: white;
}

#result-container {
    padding-left: 28vw;
    padding-right: 1vw;
    padding-top: 7vh;
    width: 100%;
}

#result-body {
    position: relative;
    right: 0%;
    min-height: 93vh;
    width: 70vw;
    padding: 5% 5%;
}

.produto-card {
    flex: 0 0 auto;
    width: 23%;
    max-width: 300px;
    height: 40vh;
    margin: 5px;
    border: 1px #cee2e6 solid;
    padding: 3px 5px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3)
}

.produto-imagem {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
    padding: 2px 1px;
}

.produto-imagem a {
    height: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.produto-capa {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tag-desconto {
    position: absolute;
    background: #ffffffdf;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 2%;
    top: 5%;
    text-transform: capitalize;
}

#div-valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-btn {
    margin-top: 10px;
    padding: 4px;
    padding-bottom: 5px;
    width: 45%;
    height: 60%;
    position: relative;
    bottom: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    font-size: 0.6rem;
    font-weight: 600;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
    overflow: hidden;
}

.card-btn span {
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card-btn:hover .msg2 {
    display: flex;
    font-size: 0.8rem;
}

.card-btn:hover .msg1 {
    display: none;
}

.card-btn .msg2 {
    display: none;
}

.card-btn:hover {
    background: #13a343;
    color: #fff;
    transform: scale(1.2);
}

.produto-info {
    width: 100%;
    height: 60%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto-info div {
    height: 33.33%;
}

.div-nome {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-nome {
    display: flex;
    line-height: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.produto-descricao {
    width: 100%;
    height: 20px;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.preco {
    font-weight: 900;
    font-size: 20px;
}

.valor {
    opacity: 0.5;
    text-decoration: line-through;
}

@media screen and (max-width:720px) {
    #side-bar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 36vh;
        padding-top: 12vh;
        border-bottom: 1px #cee2e6 solid;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.301);
        overflow-y: scroll;
        padding-bottom: 3rem;
    }

    #result-container {
        padding: 0;
        width: 100%;
        margin-top: 26vh;
        border-top: 2px #cee2e6 solid;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.301);
    }

    #result-body {
        width: 100%;
        position: static;
    }

    .produto-card {
        width: auto;
        max-width: 170px;
    }

    .checkbox-div {
        width: 50%;
    }
}

@media screen and (max-width:1360px) {
    #div-submit button {
        width: 45%;
    }

    .produto-card {
        min-width: 150px;
        height: 45vh;
    }

    .preco {
        font-size: 1rem;
    }

    .card-btn:hover {
        width: 5rem;
    }

    .produto-nome {
        font-size: 0.9rem;
    }

    .tag-desconto {
        padding: 1px 3px;
    }
}